title: AI Football Performance Analyzer
description: Analyze player statistics and predict future development.
theme: jekyll-theme-primer
plugins:
  - jekyll-seo-tag

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor
  - .git
  - .github
  - node_modules
  - script
  - bin
